table {
    border-collapse: collapse;
    border: 1px solid grey;
}

table thead {
    background-color: darkblue;
    color: white;
}

td,
th {
    padding: 5px;
}


table tbody tr:nth-child(odd) {
    background-color: lightblue;
}

table caption {
    font-size: 1.5em;
    font-weight: bold;
    color: darkblue
}

#contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
}

.error {
    background-color: lightcoral;
}